<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scs.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.Main3Activity" />
        <activity android:name=".mvp.Main4Activity" />
        <activity android:name=".myview.Main5Activity" />
        <activity android:name=".life.ActivityLife1" />
        <activity android:name=".life.ActivityLife2" />
        <activity
            android:name=".life.ActivityLife3"
            android:theme="@style/DialogActivity" />
        <activity android:name=".activity.RXTextActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".retrofit.LoginActivity" />
        <activity android:name=".activity.SqliteActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.MdStyleActivity" />
        <activity android:name=".activity.MdZFBActivity" />
        <activity
            android:name=".activity.NullActivity"
            android:theme="@style/AppTheme_null" />
        <activity android:name=".activity.RXActivity" />
        <activity android:name=".activity.JobSchdulerActivity" />

        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.JobSchedulerIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.RecycleActivity"
            android:label="@string/title_activity_recycle"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>